
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.fa {
    text-decoration: none;
    color: #424242;
    margin-right: 15px;
    font-size: 60px;
    /* border: 2px solid black; */
}

    .petit
      {
          
         width:5%;
         padding:10px 0;
         align-items: flex-start !important;
         margin-left:10%;
         margin-top:-5px !important;
      }
      .name
      {
          margin:auto !important;
          /* margin-left:5% !important; */
          margin-left:10px !important;
          margin-bottom:0 !important;
          margin-top:10px !important;
          
      }
      .wrapping {
          display:inline-flex;
          flex-direction: row;
          justify-content: space-between !important;
          align-content: center !important;
          /* margin-top:-5% !important; */
          margin-bottom:15px !important;
          margin-top: 1% !important;
      }
      .name
      {
          font-size:2rem;
          font-weight: bold;
          padding: auto;
          margin-left:40px;
          margin-top:40px;
          color:#2EC4B6
      }
 nav{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    background-color:rgb(254, 253, 255);
    height:  80px;
    width: 100%  ;
    
 }  
 label.logo{
     line-height: 80px;
 }
 nav ul{
     float:right;
     margin-right: 20px;
 }
 nav ul li {
     display: inline-block;
     line-height: 80px;
     margin: 0 5px ;
 }
 nav ul li a {
     color: #000511;
     font-size: 17px;
     text-decoration: uppercase;
     /* border-radius: 3px; */
     padding: 7px 13px ;
     font-weight: 600;
 }
 a.active ,a:hover{

      transition: .5s;
 }
 
  nav ul li a:hover{
      background-color: #3f4954;
      padding: 30px 10px;
      color: #ffffff;
  }
 

 .checkbtn{
     display: block;
     font-size: 30px;
    /* background-color: #000511; */
     float: right;
     line-height: 80px;
     margin-right:40px;
     cursor: pointer; 
     display: none; 
 }

 #check{
     display:none;
       
 }
 /* ---------------------------MEDIA QUERIES SECTION:--------------- */
 @media (max-width:1200px) {
    .petit
    {
      
       width:10%;
       padding-left:5% !important;
       align-items: flex-start !important;
    }
    .name
    {
        margin:auto !important;
        margin-left:5% !important;
    }
    .wrapping {
        display:flex;
        flex-direction: row;
        justify-content: space-between !important;
        align-content: center !important;
        padding:auto !important;
        /* margin-top:-5% !important; */
    }
   
 }
 /* ---------------------------MEDIUM:--------------- */
 @media (max-width:992px ){
     nav ul li a{
         font-size: 16px;
     }
     .petit
     {
        
        width:15%;

        padding-left:5% !important;
        padding: 10px 0 10px 5% !important;
        align-items: flex-start !important;
        margin-bottom:10px !important;
     }
     .name
     {
         margin:auto !important;
         margin-left:5% !important;
     }
     .wrapping {
         display:flex;
         flex-direction: row;
         justify-content: space-between !important;
         align-content: center !important;
         /* margin-top:-5% !important; */
     }
     
      /* .nav
      {
          height:30% !important;
          padding-bottom:15% !important;
          margin-top:20% !important;
          display:block !important;
      } */
 }
/* --------------------------SMALL:--------------- */
  @media (max-width: 768px ){
  
      .petit
      {
          
         width:20%;
         height:20%;
         /* padding-left:5% !important; */
         align-items: flex-start !important;
         margin-left:5% !important;
         margin-top:5% !important;
      }
      .name
      {
          margin:auto !important;
          margin-left:5% !important;
      }
      .wrapping {
          display:flex;
          flex-direction: row;
          justify-content: space-between !important;
          align-content: center !important;
          /* margin-top:-5% !important; */
      }
     
      .checkbtn{
          display: block;
          color: #000511;
      }
      ul{
          position: absolute;
          width: 100%;
          height: 130vh;
        background: #000511;
        top:80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 20;
      }
      nav ul li {
          display: block;
          margin: 50px 0;
          /* line-height: 30px; */
      }
      nav ul li a {
          font-size: 20px ;
          color: white;
          
      }
      a.active{
          background: none;
          color: #0082e6  ;
      }
      #check:checked ~ ul{
          left: 0;
      }
      a:hover{
        background-color: transparent;
        padding: 10px;
          color: #0082e6  ;

      }
      .site-title{
        background: url('../images/yarabi.png');
        /* background-size: cover; */
        display:flex;
        justify-content: right;
        background-repeat: no-repeat;
        /* border: 2px solid black; */
        height: 850px;
      }
    .site-background h2{
        margin-top: -10px;
    }
    
    .footer{
    height: max-content;
    /* border: 2px solid black; */
    padding-bottom: 435px;}
    .dernier{
    /* border: 2px solid black; */
    margin-top: 5px;
    }
}
 /* --------------------------FOOTER:-----------------------*/
  .footer{
    height: 50vh;
    background-color: #aeeee8cc;
    padding-top:20px ;
  
}
.p1{
 color:#37827b;
}

.f1{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-evenly;
 width:90%;
 margin-top: 7px;
padding-left: 80px;


}
.line{
 height: 1px;
 width: 70%;
 background-color:#37827b ;
 margin: 30px auto;
}
.f2{
 width: 90%;
 display: flex;
 flex-wrap: wrap;
align-items: center;
justify-content: space-evenly;
/* border: 2px solid black; */
margin: 30px auto;

}
.div1{
 /* border: 2px solid black; */
 color:#37827b;
 font-family: 'Poppins', sans-serif;
 font-size: 15px;
}
.headfooter{
 color: #2d655f;
 margin-bottom: 10px;

}
.headfooter::after {
 display: block;
   content: '';
  width: 100%;
  height: 2px;
  background: #54cbc0;
  /* position: absolute; */
  bottom: 0;
  left: 0;
 transition:width 0.3s;
}

.copyright{
    background-color: #2ec4b555;
    width: 70%;
    margin: 30px auto;
    text-align: center;
    padding: 15px 0;
   color:#388c84;
    
}
.form-btn:hover{
    background-color: #54cbc0;
    color: #54cbc0;
    padding: 4px;
}
/* formulaire rendze vous  css */
.formulaire{
    background-color: #54cbc0;
    height: 430px;
    width: 450px;
    margin: auto 790px auto 0;
    /* border: 1px solid rgb(153, 150, 150); */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; */
}
.bo1,.bo2{
    border: 2px solid black;
    height: 40px ;
    width: 100px;
    border-radius: 5px;
    margin-top: 166px;
    background-color: rgba(85, 94, 114, 0.8);

}
.imgtext{
    border: 2px solid black;
    background-color: #54cbc0;
    color:white ;
}
/* home */
.home .images img{
    position: absolute;
    top: 0  ;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.home .text{
    max-width: 50%;
    color:white;
    margin: 5% 0 0 3%;
}
.home h1{
    font-size: 70px;
    font-weight: 400;

}
.home p{
    font-weight: 400;
    line-height: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 50px 0 0 50px ;

}
.home button{
    background-color: #54cbc0;
    padding: 12px 29px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(244, 248, 252);
    margin: 40px 25% ;
    font-weight: 800;
    font-size: 18px;
    border: 2px solid rgb(207, 124, 124);
}
.home button:hover{
    padding: 13px 30px;
    color: rgb(244, 248, 252);
    background-color: #54cbc0;
    border:2px solid rgb(199, 135, 135);

}
h1{
    text-align: center;
}